<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- compulsory to add to work media queries  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title><%= title %></title>
    <script src="https://kit.fontawesome.com/b6c49c3071.js" crossorigin="anonymous"></script>
     <!-- our css file should be below all other styles, so that we can override it. -->
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div id="main-div">
    <h1 id="page-heading">
        <i class="fa-regular fa-address-book"></i>
       My Contact List
    </h1>

    <div id="contact-div">
        <ul>
            <% for(let i of contact_list) { %>
                <li >
                    <div class="details">
                        <p><%= i.name %></p>
                        <p><%= i.phone %></p>
                    </div>
                    <div class="delete-button">
                        <a href="">
                            <i class="fa fa-window-close"></i>
                        </a>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>

    <!--   form filled -> submit -> action-route i.e /create-contact -> redirect i.e /home  -->
    <div id="form-div">
        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Name" required>
            <input type="number" name="phone" placeholder="Phone" required>
            <button type="submit">Add</button>
        </form>
    </div>
</div>

    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>